* {
        padding: 0;
        margin: 0;
}

body {
   background-color: rgba(0 , 0, 0, 0.3);
}
#wrapper {
        width: 600px;
        height: 300px;
        background-image: url(img/space.png);
        position: relative;
        margin: 20px auto;
        border: 5px solid grey;
}

#target {
        width: 50px;
        height: 10px;
        position: absolute;
        background-color: red;
}

#ship {
      width: 10px;
      height: 20px;
      position: absolute;
      background-image: url(img/rocket.png);
      background-position: center;
      bottom: 0;
}

.bul {
   width: 4px;
   height: 4px;
   background-color: blue;
   position: absolute;
}

#stats {
   position: absolute;
   left: -100px;
   border: 5px groove yellow;
   padding: 10px;
}

.lastBul {
   visibility: hidden;
}
